@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #151A19;
}

.geometric-fustat {
  font-feature-settings: "geometric" 1;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}