@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  color: #151A19;
  scroll-snap-type: y proximity;
}

.geometric-fustat {
  font-feature-settings: "geometric" 1;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.scroll-mt-20 {
  scroll-margin-top: 5rem;
}

